<template>
  <div >
    <single-result v-for="result in results">
      [[result]]
    </single-result>
  </div>
</template>

<script>

import SingleResult from './SingleResult'

export default {
  name: 'Results',
  props: ['results'],
  components: {
    SingleResult
  },
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
