<template>
  <div class="searchfield">
    <form>
    <input type="text" v-model:value="searchValue">
    <button v-on:click="find">Find</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'SearchField',
  data () {
    return {
      searchValue: "Try me"
    }
  },
  methods: {
    find(evt) {
        evt.preventDefault();
        console.log("Find-", this.searchValue);
        this.$emit('search-input', this.searchValue);
    },

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
div {background: green;}
</style>
