<template>
  <div class="container">
    <a class="title">{{title}}</a><br>

  </div>
</template>

<script>
export default {
  name: 'SingleResult',
  props: ['title', 'url', 'description'],
  data () {
    return {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

div.container {background: lightgreen;}
a.title {font-size:14px;font-weight: bold}
</style>
