<template>
  <div id="app">
    <SearchField v-on:search-input="search"/>
    {{respo}}
  </div>
</template>

<script>
import SearchField from './components/SearchField'
import Results from './components/Results'

export default {
  name: 'app',
  components: {
    SearchField
  },
  data()  {
    return {
      respo: "----"
    }
  },
  methods: {
    search(msg) {
      console.log("Search data", msg);
      this.httpSearch(msg);

    },
    httpSearch(query) {
      $.get('https://s3.amazonaws.com/landing.wisestamp.com/7ec6f8d8ae58050c3a886249cca69ab2/results.js', function(data){
        this.respo = JSON.stringify(data);
      }, 'json');
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
